<html>
<head>
	<!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
 <link rel="stylesheet" href="../assets/css/layout.css" />

 <!-- Compiled and minified JavaScript -->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

 <!-- Load wordcloud -->
 <script src="../assets/js/wordcloud2.js"></script>

 <title>Entity Relationship Diagram</title>

</head>
<body>
  <h1 class="center">Entity Relationship Diagram</h1>
  <div class="center"><img src="../assets/images/erd.png" /></div>



</body>
</html>
