/*
* Global Classes
*/
.full-width {
	width: 100%;
}
<<<<<<< HEAD
=======
.spacing {
	margin-left: 1em;
	margin-right: 1em;
}
.icon-top {
	padding-top: 1.5em;
	padding-bottom: 1em;
}

>>>>>>> 9ece3ec81f1d93204d3e2d5aa8b9d9cc2c0a0236
/*
* Font Styling
*/
label {
	color: #fff;
}

/*
* Custom Styling
*/
.central-container {
	margin: 0 auto;
}

.rs-title-box {
	text-align: center;
	color: #fff;
}

.rating {
	color: #FDB22B;
}

.new-store {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/*
* Materize Overrides
*/
.card-image img {
	min-height: 14em;
<<<<<<< HEAD
}
=======
	max-height: 14em; /* needed so divs stay in desired formation */
}
.card-content {
	min-height: 10em;
	max-height: 10em;
	overflow: scroll;
}
>>>>>>> 9ece3ec81f1d93204d3e2d5aa8b9d9cc2c0a0236
